html, body {
	margin: 0;
	height: 100%;
}

div {
  box-sizing: border-box ;
}

h1, h2 {
  margin: 0;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
}

h1 {
  font-size: 48px;
  line-height: 80px;
}

h2 {
  font-size: 24px;
  line-height: 48px;
}

input {
  box-sizing: border-box;
  height: 48px;
  width: 100%;
  padding: 13px 13px 13px 56px;
  border: 1px solid #979797;
  font-size: 16px;
  color: #858585;
  outline: none;
  background-repeat: no-repeat;
  background-position: 21px 12px;
}

button {
  height: 48px;
  padding: 0 20px;
  border-radius: 24px;
  color: #fff;
  font-size: 16px;
  outline: none;
}

button:hover {
  cursor: pointer;
}

.welcome-page {
  position: relative;
	height: 100%;
  overflow-y: auto;
  z-index: 2;
}

.welcome-page__container {
  position: relative;

  display: flex;
  flex-flow: column nowrap;
	height: calc(100% - 80px);

  background: linear-gradient(to bottom, rgba(42, 42, 42, 0.2) 0%, rgba(42, 42, 42, 0.7) 50% , rgba(42, 42, 42, 0.8) 100%), url("welcome-bg.jpg");
  background-size: cover;
  background-position: 50% 50%;

  z-index: 1;
}

.welcome-page__logo {
  flex: 1 1 35%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.welcome-page__slogan {
  flex: 1 1 auto;
  text-align: center;
  color: #fff;
}

.welcome-page__fast-search {
  flex: 1 1 40%;
  position: relative;
  display: flex;
  justify-content: center;
  flex-flow: wrap;
  margin: 0 auto;
  padding-top: 24px;
  z-index: 1;
}

.welcome-page__search-btn {
  position: relative;
  z-index: 1;
  flex: 0 0 166px;
  margin: 0 15px;
  border: none;
  background-color: #0066cc;

}

.welcome-page__extra-search-btn {
  display: none;
  border: 2px solid #fff;
  background: rgba(255, 255, 255, .5);
}

@media (min-width: 992px) {
  .welcome-page__extra-search-btn {
    display: inline;
  }
}

.welcome-page__extra-search-container {
  position: absolute;
  left: 0;
  top: 100%;
  width: 100%;
  height: 0;
  transition: top 500ms cubic-bezier(0.4, 0, 0.2, 1);

  padding: 96px 15px 0;

  border-top-left-radius: 24px;
  border-top-right-radius: 24px;

  background-color: #fff;
}

.welcome-page__fast-search_show-extra .welcome-page__extra-search-container{
  height: 100%;
  top: 0;
}

.welcome-page__extra-search-container_visible {
  height: 200px;
}

.welcome-page__footer {
  position: relative;
  width: 100%;
  height: 80px;
  margin-top: -80px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 0 10%;

  background-color: #2a2a2a;
  color: #fff;

  z-index: 2;
}

.input-group {
  position: relative;
  display: flex;
  flex: 1 1 738px;
  margin: 0 15px;
  z-index: 1;
}

.input-group__item {
  flex: 1 0 20%;
}

.input-group__item:first-child {
  flex: 3 1 auto;
}

.input-group__item + .input-group__item input {
  border-left: none;
}

.input-group__item:first-child input {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}

.input-group__item:last-child input  {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}

.input_location {
  background-image: url("icons/location_icon.svg");
}

.input_rooms {
  background-image: url("icons/house_icon.svg");
}

.input_price {
  background-image: url("icons/money_icon.svg");
  background-position: 21px 15px;
}

.expander {
  width: 1px;
  margin-bottom: 80px;
}
